@import "./apple-pay/apple-pay";

.page__payment {
  .col-basket-summary {
    @include media-breakpoint-up(md) {
      border-right: solid 1px $border-color;
    }
  }
  .product-thumbnail {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  .basket-section {
    @extend .mb-5;
  }
  .summary-row {
    margin-bottom: map-get($spacers, 3);
  }
  .course-heading {
    @extend .h6;
  }
  .summary-row {
    margin-bottom: map-get($spacers, 3);
  }
  label {
    font-weight: normal;
  }
  .form-group {
    .card-icon {
      position: relative;
      float: right;
      top: -27px;
      right: 28%;
      margin-right: -15%;
      pointer-events: none;
    }
    .lock-icon {
      position: relative;
      float: right;
      top: -27px;
      right: 10%;
      margin-right: -5%;
      pointer-events: none;
    }
  }
  .payment-method-button {
    display: inline-block;
    background-color: white;
    padding: map-get($spacers, 2);
    margin-right: map-get($spacers, 2);
    border: solid $border-width $border-color;
    border-radius: $border-radius;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    &.active {
      border-bottom: solid 0.1875rem $primary;
    }
    img {
      height: 24px;
      display: block;
    }
  }
}

#securityCodeHelp {
  width: 250px;
}
