body {
  font-family: Roboto,Helvetica Neue,Arial,sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1rem;
  color: #171c29;
}

*, :after, :before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

h6 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.screen-reader-only {
  border: 0; 
  clip: rect(0 0 0 0); 
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  height: 1px; 
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

header {
  border-bottom: 1px solid #e7e7e7;
  height: 3.75rem;
  position: relative;
  z-index: 1000;
  margin: -8px;
}

.nav {
  max-width: 1440px;
  margin: auto;
  padding-left: 15px;
}

.logo {
  height: 1.75rem;
  margin-right: 1rem;
  padding: 1rem 0;
  display: block;
  position: relative;
  box-sizing: content-box;
  float: left;
}

.avatar {pointer-events: none;}

.user-button {
  top: 50%;
  position: absolute;
  right: 2%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  padding: 0.7rem;
  margin-right: 1.1rem;
}

.dropdown-menu {
  position: absolute;
  right: 4.5%;
  display: none;
  padding: .5rem 0;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.3);
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 0.3rem;
  background: #fff;
  width: 8rem;
  margin-top: 3.7rem;
}

.show {display: block;}

a.dropdown-item {
  display: block;
  position: relative;
  padding: 0.25rem 1.5rem;
}

.dropdown-item:hover {background-color: #f9f9f9;}

.container-fluid {
  margin: auto;
  margin-bottom: 4rem;
  max-width: 1440px;
  width: 100%;
}

.payment-container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.cart {
  padding-left: 1.5rem;
  padding-right: 2.5rem;
}

.checkout {
  border-left: 1px solid #b9babe;
  float: right !important;
  padding-right: 1rem;
  padding-left: 3rem;
  margin-bottom: 4rem;
}

.payment-method button {
  margin-right: .5rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid #b9babe; 
  height: 44px;
  cursor: pointer;
  background-color: #fff;
}

.active-button {border-bottom: .1875rem solid #23419f !important;}

.payment-method img {
  max-width: 100%;
  max-height: 100%;
}

.row {
  display: flex;
}

.ml {
  margin-left: 1rem;
}

.payment-container input, .payment-container select {
  padding: .375rem .75rem;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #b9babe;
  border-radius: 0.3rem;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #2d323e;
  width: 100%;
  margin-top: 0.5rem;
}

.payment-container select {height: calc(1.5em + .75rem + 2px);}

.payment-container input:disabled, .payment-container select:disabled {
  background-color: #f9f9f9;
} 

.submit-button {
  color: white;
  line-height: 1.5;
  display: block;
  background-color: #23419f;
  border-color: #23419f;
  padding: 0.5rem 1.75rem;
  border-radius: 50rem;
  text-align: center;
  border: 2px solid;
  cursor: pointer;
}

.submit-button:disabled {opacity: .65;}

#place-order-button {
  margin-top: 2rem;
  font-size: 1.25rem; 
  width: 48%; 
  font-weight: 500;
  float: right;
  cursor: pointer;
}

.img-thumbnail {
  border: 1px solid #b9babe;
  padding: 0.25rem;
  background-color: #fff;
  border-radius: 0.3rem;
  width: 40%;
  height: 100%;
}

.product-line-item {
  padding-left: 2rem;
  vertical-align: middle;
  top: 50%;
  left: 50%;
  transform: translate(0%, 25%);
}

[class*='col-'] {
  display: inline-block;
  min-height: 1px;
}

.lock-icon {
  float: right;
  right: 10%;
  margin-right: -5%;
  position: relative;
  top: -1.7rem;
  pointer-events: none;
  width: 0.875em;
  font-size: inherit;
  overflow: visible;
  vertical-align: -0.125em;
}

.help-icon {
  margin-left: 0.25rem;
  width: 1rem;
  vertical-align: middle;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: #2d323e;
  color: #fff;
  border-radius: 3px;
  font-size: 13px;
  padding: 0.5rem 1.25rem;
  position: absolute;
  transition: opacity 0.3s ease-out;
  z-index: 1;
  top: 130%;
  left: -565%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #2d323e transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.col-5 {width: 41.65%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-10 {width: 83.32%;}

@media only screen and (max-width: 1065px) {
  .col-10 {width: 75%;}
}

@media only screen and (max-width: 990px) {
  .row {display: block;}
  .ml {margin-left: 0;}
  .col-6 {width: 100%;}
  #place-order-button {width: 100%;}
}

@media only screen and (max-width: 825px) {
  [class*="col-"] {width: 100%;}
  .col-nums {width: 85%;}
  .logo {
    height: 1.5rem;
    padding-top: 0.7rem;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
  header {
    height: 3.2rem;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.3)!important;
  }
  .user-button {margin-right: 0; right: -3%}
  .user-button:hover {
    background: rgba(0,0,0,.1);
    padding: 0.7rem;
  }
  .dropdown-menu {
    width: 100%;
    right: 0;
    margin: 3.2rem 0 0 0;
  }
  a.dropdown-item {
    display: block;
    padding: 0.5rem 1.5rem;
    color: #23419f;
  }
  .dropdown-item:hover {
    background-color: transparent;
    color: #152760;
  }
  .checkout {
    border-left: none;
    padding-left: 1.5rem;
  }
}

